streamlit
ultralyticsplus
ultralytics
torch
torchvision
pillow
requests
opencv-python-headless
numpy
PyPDF2
absl-py
altair
antlr4-python3-runtime
appnope
asttokens
attrs
backcall
backports.zoneinfo;python_version
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
entrypoints
executing
filelock
fire
fonttools
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
hydra-core
idna
importlib-metadata
importlib-resources
ipython
jedi
Jinja2
jsonschema
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
networkx
numpy
oauthlib
omegaconf
opencv-python
packaging
pandas
parso
pexpect
pickleshare
Pillow
pkgutil_resolve_name
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pybboxes
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
requests
requests-oauthlib
rich
rsa
sahi
scipy
seaborn
semver
sentry-sdk
shapely
six
smmap
stack-data
streamlit
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
terminaltables
thop
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
ultralytics
ultralyticsplus
urllib3
validators
wcwidth
Werkzeug
zipp
